rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function handler() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.firebase.sign_in_provider in ['google.com', 'apple.com']
        && firestore.get(/databases/(default)/documents/handlerAccounts/$(request.auth.token.email)).data.email == request.auth.token.email;
    }

    match /complaints/{ownerUid}/{complaintId}/{fileName} {
      allow read: if handler()
        || (request.auth != null && request.auth.uid == ownerUid);
      allow create: if request.auth != null
        && request.resource.size <= 5 * 1024 * 1024
        && (
          request.auth.uid == ownerUid
          || (
            handler()
            && firestore.get(
              /databases/(default)/documents/complaints/$(complaintId)
            ).data.ownerUid == ownerUid
          )
        )
        && (
          request.resource.contentType.matches('image/.*')
          || request.resource.contentType.matches('video/.*')
          || request.resource.contentType.matches('audio/.*')
          || request.resource.contentType == 'application/pdf'
          || request.resource.contentType == 'application/msword'
          || request.resource.contentType == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
        );
      allow update: if false;
      allow delete: if request.auth != null && request.auth.uid == ownerUid;
    }
  }
}
